.mdl-button--twitter {
    color: rgb(63, 81, 181)
}
.mdl-button--twitter:focus:not(:active) {
    background-color: #00acee;
    color: #ffffff
}
.mdl-button--twitter {
    background: #00acee;
    color: rgb(255, 255, 255)
}
.mdl-button--twitter:hover {
    background-color: #00acee;
    color: #ffffff
}
.mdl-button--twitter:active {
    background-color: #00acee;
    color: #ffffff
}
.mdl-button--twitter:focus:not(:active) {
    background-color: #00acee;
    color: #ffffff
}
.mdl-button--twitter .mdl-ripple {
    background: rgb(255, 255, 255);
    color: #ffffff
}
.mdl-button--googleplus {
    color: rgb(63, 81, 181);
    color: #ffffff
}
.mdl-button--googleplus:focus:not(:active) {
    background-color: #e93f2e;
    color: #ffffff
}
.mdl-button--googleplus {
    background: #e93f2e;
    color: rgb(255, 255, 255)
}
.mdl-button--googleplus:hover {
    background-color: #e93f2e;
    color: #ffffff
}
.mdl-button--googleplus:active {
    background-color: #e93f2e;
    color: #ffffff
}
.mdl-button--googleplus:focus:not(:active) {
    background-color: #e93f2e;
    color: #ffffff
}
.mdl-button--googleplus .mdl-ripple {
    background: rgb(255, 255, 255);
    color: #ffffff
}
.mdl-button--instagram {
    color: rgb(63, 81, 181);
    color: #ffffff
}
.mdl-button--instagram:focus:not(:active) {
    background-color: #8a3ab9;
    color: #ffffff
}
.mdl-button--instagram {
    background: #8a3ab9;
    color: rgb(255, 255, 255)
}
.mdl-button--instagram:hover {
    background-color: #9241a0;
    color: #ffffff
}
.mdl-button--instagram:active {
    background-color: #9241a0;
    color: #ffffff
}
.mdl-button--instagram:focus:not(:active) {
    background-color: #9241a0;
    color: #ffffff
}
.mdl-button--instagram .mdl-ripple {
    background: rgb(255, 255, 255);
    color: #ffffff
}